#IntelliJ IDEA
.idea/
*.iml

#Eclipse
.classpath
.project
.settings/
.jcop

#Build artifacts
bin/
ykneo-oath-*.cap
ykneo-oath-*.cap.sig
ykneo-oath-*.tar.gz
ykneo-oath-*.tar.gz.sig

#Gradle build artifacts
build
.gradle

# test artifact
test/lib/jcardsim-2.2.2-all.jar
