#IntelliJ IDEA
.idea/
*.iml

#Eclipse
.classpath
.project
.settings/
.jcop

#Build artifacts
bin/
ykneo-oath-*.cap
ykneo-oath-*.cap.sig
ykneo-oath-*.tar.gz
ykneo-oath-*.tar.gz.sig

#Gradle build artifacts
build
.gradle

# test artifacts
test/lib/jcardsim-2.2.2-all.jar
test/lib/jacoco.jar
test/lib/jacocoagent.jar
test/lib/jacocoant.jar
test/lib/jacocoreport.jar

# jacoco artifacts
jacoco.exec
